body, p, div {
	margin: 0;
}
img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.page {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	text-align: center;
}
.page__paragraph {
    width: 90%;
	margin-left: 5%;
    text-align: justify;
	font: 1.25em Georgia, serif;
}
.page__paragraph_caption {
	font: italic 1em Georgia, serif;
	text-align: center;
}
.page__header, .page__subheader {
	width: 100%;
	text-align: center;
}
.page__header {
	font: small-caps bold 1.5em Georgia, serif;

	margin: 5% auto -5%;
}
.page__subheader {
	font: bold 1.25em Georgia, serif;
	margin: 10% auto 5%;
}
.title {
	width: 100%;
	height: 100vh;
	background-color: #f0f060;
}
.cover {
	height: 100vh;
	width: 112.5vh;
	margin: 0 auto;
	overflow: hidden;
}
.cover__left, .cover__right {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 100%;
	width: 50%;
}
.cover__left {
	-webkit-transition: visibility 0s linear .1s, opacity .1s ease-in;
	transition: visibility 0s linear .1s, opacity .1s ease-in;
}
.speed-selector__numbers {
	position: relative;
	top: 45vh;
	left: 9vh;
	height: 11.25vh;
	width: 37.5vh;
	font-family: Impact;
	font-size: 7.5vh;
	color: #0f0e0f;
	-ms-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	transform-origin: center;
}
.speed-selector__33,.speed-selector__45,.speed-selector__78 {
	height: 6vh;
	display: inline-block;
}
.speed-selector__33 {
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	transform-origin: bottom right;
}
.speed-selector__45 {
	margin: 1vh 4.5vh 0;
}
.speed-selector__78 {
	-ms-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
	transform-origin: bottom left;
}
.speed-selector__arrow {
	position: relative;
	top: 25.5vh;
	left: -7.5vh;
	width: 0;
	height: 0;
	border: 3.75vh solid transparent;
	border-right: 37.5vh solid transparent;
	border-left: 15vh solid #5a7ec4;
	-ms-transform: rotate(-55deg);
	-webkit-transform: rotate(-55deg);
	transform: rotate(-55deg); /*-37deg == 33, -55deg == 45, -73deg == 78*/
	transform-origin: right;
	-o-transition: transform .5s;
	-webkit-transition: transform .5s;
	transition: transform .5s;
}
.cover__image {
	position: absolute;
	top: 22.5vh;
	right: 1.5vh;
	width: 48.7vh;
}
.cover__title {
	position: absolute;
	top: 75vh;
	right: 4.8vh;
	height: 5vh;
	text-align: right;
	font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic;
	font-weight: 900;
	font-size: 6vh;
	color: #0f0e0f;
}
.cover__coursive {
	position: absolute;
	top: 80vh;
	right: 1.5vh;
	height: 9vh;
	text-align: right;
	font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic;
	font-weight: 900;
	font-size: 7.5vh;
	color: #5a7ec4;
}
.cover__subheader {
	position: absolute;
	top: 90vh;
	right: 5.25vh;
	text-align: right;
	font: bold 3.3vh "Trebuchet MS", Helvetica, sans-serif;
	color: #0e0f0e;
}
.vinyl {
	position: absolute;
	z-index: 0;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	width: 105vh;
	height: 105vh;
	top: -45vh;
	margin: 0 3.75vh;
	overflow: hidden;
}
.vinyl__base {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 1.5vh solid #0e0f0e;
	box-sizing: border-box;
	background:
		-webkit-linear-gradient(65deg, transparent 40%, rgba(90, 80, 75, .3) 50%, transparent 60%) no-repeat 100% 0,
		-webkit-linear-gradient(75deg, transparent 40%, rgba(90, 80, 75, .2) 50%, transparent 60%) no-repeat 0 100%,
		-webkit-linear-gradient(-15deg, transparent 40%, rgba(90, 80, 75, .3) 50%, transparent 60%) no-repeat 0 100%,
		-webkit-repeating-radial-gradient(#000, #252826 2px, #000 3px);
	background:
		-o-linear-gradient(65deg, transparent 40%, rgba(90, 80, 75, .3) 50%, transparent 60%) no-repeat 100% 0,
		-o-linear-gradient(75deg, transparent 40%, rgba(90, 80, 75, .2) 50%, transparent 60%) no-repeat 0 100%,
		-o-linear-gradient(-15deg, transparent 40%, rgba(90, 80, 75, .3) 50%, transparent 60%) no-repeat 0 100%,
		-o-repeating-radial-gradient(#000, #252826 2px, #000 3px);
	background:
		linear-gradient(65deg, transparent 40%, rgba(90, 80, 75, .3) 50%, transparent 60%) no-repeat 100% 0,
		linear-gradient(75deg, transparent 40%, rgba(90, 80, 75, .2) 50%, transparent 60%) no-repeat 0 100%,
		linear-gradient(-15deg, transparent 40%, rgba(90, 80, 75, .3) 50%, transparent 60%) no-repeat 0 100%,
		repeating-radial-gradient(#000, #252826 2px, #000 3px);
	-webkit-animation: swing .7s ease-in-out infinite alternate;
	animation: swing .7s ease-in-out infinite alternate;
}
.vinyl__shadow {
	content:  '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background:
		-webkit-linear-gradient(55deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		-webkit-linear-gradient(65deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		-webkit-linear-gradient(75deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		-webkit-linear-gradient(85deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%);
	background:
		-o-linear-gradient(55deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		-o-linear-gradient(65deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		-o-linear-gradient(75deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		-o-linear-gradient(85deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%);
	background:
		linear-gradient(55deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		linear-gradient(65deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		linear-gradient(75deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%),
		linear-gradient(85deg, transparent 43%, rgba(0, 0, 0, .1) 50%, transparent 57%);
	-webkit-animation: rotate 1.3s linear infinite;
	animation: rotate 1.3s linear infinite;
}
.vinyl__label {
	position: absolute;
	z-index: 2;
	margin: 0;
	box-sizing: border-box;
	width: 36%;
	height: 36%;
	top: 32%;
	left: 32%;
	border: 5vh solid #0e0f0e;
	background-color: #5380c5;
	background: url(lemz.svg) no-repeat bottom, #5380c5;
	background-size: 50%;
	-webkit-animation: rotate 1.3s linear infinite;
	animation: rotate 1.3s linear infinite;
}
@-webkit-keyframes "swing" {
	0% { transform:rotate(-1deg); }
	100% { transform:rotate(1deg); }
}
@-webkit-keyframes "rotate" {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
@keyframes "swing" {
	0% { transform:rotate(-1deg); }
	100% { transform:rotate(1deg); }
}
@keyframes "rotate" {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
.first {
	height: 100vh;
	text-align: center;
}
.first .page__paragraph {
	height: initial;
	margin: auto;
}
.scheme {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: auto;
}
.scheme__image {
	width: 45%;
	margin: 0;
}
.scheme__caption {
	font: italic 1em Georgia, serif;
	text-align: center;
}
.scheme__menu {
	width: 40%;
	margin: 0;
	list-style: decimal inside;
	font: 1em Georgia, serif;
}
.scheme__menu > * {
	padding-left: 1%;
	cursor: pointer;
}
.scheme__slider {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	opacity: 0;
	border: .1em solid black;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-o-transition: top .2s;
	-webkit-transition: top .2s;
	transition: top .2s;
}
@media screen and (orientation: portrait) {
	.cover {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.cover__left {
		display: none;
	}
	.cover__right {
		width: 100%;
	}
	.cover__image {
		top: initial;
		bottom: 52.5vw;
		right: 2.7vw;
		width: 81.1vw;
	}
	.cover__title {
		top: initial;
		bottom: 33.5vw;
		right: 8vw;
		height: 8.4vw;
		font-size: 10vw;
	}
	.cover__coursive {
		top: initial;
		bottom: 18.5vw;
		right: 2.7vw;
		height: 15vw;
		font-size: 12.5vw;
	}
	.cover__subheader {
		top: initial;
		bottom: 10.4vw;
		right: 8.8vw;
		font-size: 5.5vw;
	}
	.vinyl {
		right: 0;
		width: 175.4vw;
		height: 175.4vw;
		top: -75vw;
		margin: 0 6vw;
	}
	.vinyl__base, .vinyl__shadow {
		top: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		border-width: 2.5vw;
	}
	.vinyl__label {
		margin: 0;
		width: 36%;
		height: 36%;
		top: 32%;
		left: 32%;
		border-width: 8.5vw;
	}
	.scheme__image {
		width: 90%;
	}
	.scheme__menu {
		width: 90%;
		padding: 0;
	}
}
@media screen and (min-aspect-ratio: 9/15) and (max-aspect-ratio: 9/8) {
	.cover {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	.cover__left {
		display: none;
	}
	.cover__right {
		width: 100%;
	}
	.cover__image {
		top: initial;
		bottom: 31.35vh;
		right: 1.5vh;
		width: 48.7vh;
	}
	.cover__title {
		top: initial;
		bottom: 20vh;
		right: 4.8vh;
		height: 5vh;
		font-size: 6vh;
	}
	.cover__coursive {
		top: initial;
		bottom: 11vh;
		right: 1.5vh;
		height: 9vh;
		font-size: 7.5vh;
	}
	.cover__subheader {
		top: initial;
		bottom:6.2vh;
		right: 5.3vh;
		font-size:3.3vh;
	}
	.vinyl {
		right: 0;
		width: 105vh;
		height: 105vh;
		top: -45vh;
		margin: 0 3.75vh;
	}
	.vinyl__base, .vinyl__shadow {
		top: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.vinyl__base {
		border-width: 1.5vh;
	}
	.vinyl__label {
		margin: 0;
		width: 36%;
		height: 36%;
		top: 32%;
		left: 32%;
		border-width: 5vh;
	}
}